.Cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 96%;
}

.Cards__item {
  width: 100px;
  border: 1px solid red;
  padding: 5px;
}

.Cards__item > img {
  width: 100%;
  cursor: pointer;
}

.Cards__item > button {
  border: 0;
  background: white;
  cursor: pointer;
}


.ModalActive {
  position: absolute;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
  width: 350px;
  top: 100px;
  left: 40%;
}

.ModalActiveDeactive {
  display: none;
}
