.Cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 96%;
}

.Cards__item {
  width: 100px;
  border: 1px solid red;
}

.Cards__item > img {
  width: 80%;
}

.Cards__item > button {
  border: 0;
  background: white;
  cursor: pointer;
}
